# This is an example .env file. Create a file called `.env` in the same
# directory as this file. Fill in the contents of your .env file by following
# this file's example.
# Lines preceded with # are comments.


# PostgreSQL user password used to access your database.
DATABASE_PASSWORD=mypassword

# Secret key for Django cryptography.
# Generate a SECRET_KEY by activating the project's Python environment,
# typing `python` to enter a Python shell, and typing this:
# from django.core.management.utils import get_random_secret_key
# print(get_random_secret_key())
SECRET_KEY=9va(h$&30fw9f$@3#%saqtevhrdgn_*=^@1!x0qn(gwe96)9=q


# OPTIONAL configuration below. If unspecified, default values will be used.

# Name of your PostgreSQL database.
DATABASE_NAME='mydbname'
# PostgreSQL username used to access your database.
DATABASE_USER='mydbusername'
# URL of your PostgreSQL database server.
DATABASE_HOST='mydbserver.org'
# PostgreSQL database port for your database server.
DATABASE_PORT='5432'


# PRODUCTION configuration below.

# Address to host the website.
SITE_HOST='mywebsite.org'
